head
    title #{title} - #{version}
    meta(name="viewport" content="width=device-width")
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='img/logo.jpg')
    link(href="scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="scripts/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet" type="text/css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="icon" type="image/jpg" href="media/logo.jpg")

    script(src="scripts/angular/angular.min.js")
    script(src="scripts/jquery/dist/jquery.min.js")
    script(src="scripts/angular-ui-notification/dist/angular-ui-notification.min.js")
