head
    title #{title} - #{version}
    meta(name="viewport" content="width=device-width")
    link(href="scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    link(rel="icon" type="image/jpg" href="media/logo.jpg")

    script(src="scripts/angular/angular.min.js")
    script(src="scripts/jquery/dist/jquery.min.js")
