body {
	background-color: #757575;
}

.container {
	padding-top: 50px;
}

/* Board */
.board {
	position: relative;

	width: 808px;
	height: 808px;
	padding: 0;
	border: 4px solid #263238; 
	border-radius: 4px;

	box-shadow: 0px 0px 8px;
}

.board-row {
	padding: 0px;
	margin: 0px;
}

.step {
	width: 100px;
	height: 100px;
	float: left;
}

.step:hover {
	/*opacity: 0.6;*/
	box-shadow: 0px 0px 8px inset;
}

.step-brown {
	background-color: #455a64;
}

.step-white {
	background-color: #cfd8dc;
}

.index {
	position: absolute;

	font-weight: bold;
	text-shadow: 0px 0px 8px;

	color: #eceff1;
}

.index-left {
	margin-top: 45px;
	left: -30px;
}

.index-right {
	margin-top: 45px;
	right: -30px;
}

.index-top {
	top: -30px;
}

.index-top-item, .index-bottom-item {
	float: left;
	width: 100px;

	margin: 0px;
	padding: 0px;
	padding-left: 45px;
}

.index-bottom {
	bottom: -30px;
}

.highlight-index {
	color: #ff9100;
}

@media (max-width: 1700px) {
	.step {
		width: 50px;
		height: 50px;
		float: left;
	}
	.board {
		width: 408px;
		height: 408px;
	}
	.index-left, .index-right {
		margin-top: 15px;
	}
	.index-top-item, .index-bottom-item {
		width: 50px;
		padding-left: 20px;
	}
}

/* chess set */
.chess-set {
	background-color: #cfd8dc;
	box-shadow: 0px 0px 4px inset;
	padding: 20px
}

.chess-set-item {
	z-index: 100;
	float: left;
	width: 50px;
	height: 50px;
	margin:	24px;
}

.chess-set-item:hover {  
	cursor: pointer;
	-webkit-filter: drop-shadow(0px 6px 8px rgba(0,0,0,0.9));
  	filter: drop-shadow(0px 6px 8px rgba(0,0,0,0.9));
}

.chess-set-item.active {  
	cursor: pointer;
	-webkit-filter: drop-shadow(0px 6px 8px #ff9100);
  	filter: drop-shadow(0px 6px 8px #ff9100);
}

.chess-set .btn {
        margin-top: 5px;
}

.cs-b-pawn {
	background-image: url('../img/chess_set/bp.svg');
}

.cs-b-knight {
	background-image: url('../img/chess_set/bn.svg');
}

.cs-b-bishop {
	background-image: url('../img/chess_set/bb.svg');
}

.cs-b-rook {
	background-image: url('../img/chess_set/br.svg');
}

.cs-b-king {
	background-image: url('../img/chess_set/bk.svg');
}

.cs-b-queen {
	background-image: url('../img/chess_set/bq.svg');
}

.cs-w-pawn {
	background-image: url('../img/chess_set/wp.svg');
}

.cs-w-knight {
	background-image: url('../img/chess_set/wn.svg');
}

.cs-w-bishop {
	background-image: url('../img/chess_set/wb.svg');
}

.cs-w-rook {
	background-image: url('../img/chess_set/wr.svg');
}

.cs-w-king {
	background-image: url('../img/chess_set/wk.svg');
}

.cs-w-queen {
	background-image: url('../img/chess_set/wq.svg');
}

@media (max-width: 1700px) {
	.chess-set-item {
		width: 25px;
		height: 25px;
		margin:	12px;
	}
}

/* moves */
.moves-container {
	max-height: 200px;
	overflow-y: auto;
	padding: 10px;
    margin-top: 10px;
}

#moves thead td {
    text-align: center;
}

#moves td {
    padding: 5px;
}

#moves td div {
    padding: 8px;
}

.glyphicon-king {
    font-size: 10pt;
    text-shadow: 0px 0px 2px #000;
}

.glyphicon-king.text-black {
    color: #000;
}
.glyphicon-king.text-white {
    color: #fff;
}
.glyphicon-arrow-right {
    font-size: 8pt;
}

/* navbar */
.navbar-form button {
    margin-bottom: 4px;
}
@media (max-width: 768px) {
    .navbar-form button {
        width: 100%;
    }
}
